In [5]:
#Ques 1: value became key and key became value 

port1 = {21:"FTP",22:"SSH",23:"telnet",80:"http"} 
reverse_port1={v:k for k,v in port1.items() }
reverse_port1

{'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

In [11]:
#Ques 2: form a list with the sum of set
list1=[(1,2),(3,4),(5,6),(4,5)]

new_list = [list1[i][0] + list1[i][1] for i in range(len(list1))]
new_list

[3, 7, 11, 9]

In [14]:
#Ques 3: Make a new list will the element of inner tuple and list 

list1=[(1,2,3),[1,2],['a','hit','less']]
new_list=[i for each in list1 for i in each]
new_list

[1, 2, 3, 1, 2, 'a', 'hit', 'less']